<a class="waves-effect waves-light btn light-blue darken-3 view-trigger" href="{{ url('qso_logbook_view', {id: id}) }}"><i class="tiny material-icons">search</i></a>
<a class="waves-effect waves-light btn red darken-3" href="{{ url('qso_logbook_edit', {id: id}) }}"><i class="tiny material-icons">mode_edit</i></a>